*.class

# Package files #
*.jar
*.war
*.ear

# IDE stuff
.idea*/
.settings*/
target*/
*.iml
*.classpath
*.project


# Git stuff #
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*

# Maze produced stuff
*.txt
*.pbm
